

#home{
     
      margin-top: 40px;
      padding: 20px;

      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

      
      

}

#title{
      font-size: 45px;
      margin-top: 50px;
      
}